* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.super {
  background-color: lightpink;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.base {
  margin: 15px 0;
  display: flex;
  gap: 10px;
}
.heading {
  background-color: white;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 7px;
  font-size: 38px;
}
button {
  background-color: lightgreen;
  border: none;
  padding: 15px 25px;
  border: solid black;
  border-radius: 14px;
  font-size: 16px;
  transition: all linear 0.21s;
}
button:active {
  scale: 0.75;
}
#colorInput {
  padding: 0 15px;
  border-radius: 14px;
  width: 300px;
}
.currentColor {
  background-color: white;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 10px;
  font-size: 28px;
}
